body{
   
    font-family: montserrat;
    
    background: url('../assets/img/puck-buddies-bg.png')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loadingicon {
    width: 80px;
    background: #fff;
    padding: 10px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
  }
