body{
   
    font-family: montserrat;
    background: linear-gradient(120deg, #245848, #987554);
    background-attachment: fixed;
}

.loadingicon {
    width: 80px;
    background: #fff;
    padding: 10px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
  }
